<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/layouts/_MainLayout.html">

  <div layout:fragment="content">

    <!-- mostrar mensaje de confirmacion en caso de exito-->
     <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: 'Confirmacion',
                text: '[[${msg}]]',
                icon: 'success'
            });
        </script>
     </div>

     <!-- mostrar mensaje de error en caso de error-->
     <div th:if="${errorMsg != null}">
        <script>
            Swal.fire({
            title: 'Error',
            text: '[[${errorMsg}]]',
            icon: 'Success'
            });
        </script>
     </div>

      <h2>Listado de usuarios</h2>

            <div class="mb-3">
                <a th:href="@{/usuarios/create}" class="btn btn-success">Nuevo Usuario</a>
            </div>

     <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>ESTADO</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${usuarios}">
                <td th:text="${item.Id}"></td>
                <td th:text="${item.login}"></td>
                <td th:text="${item.status == 1} ? 'ACTIVO' : 'INACTIVO'"></td>
                <td>
                    <a th:href="@{/usuarios/details/{id} (id = ${item.Id})}" class="btn btn-secondary">Detalles</a> |
                    <a th:href="@{/usuarios/remove/{id} (id = ${item.Id})}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </table>

        <nav th:if="${pageNumbers}">
            <ul class="pagination justify-content-center">
                <li th:each="pageNum : ${pageNumbers}" class="page-item"
                    th:classappend="${pageNum == usuarios.number + 1} ? 'active'">
                   <a class="page-link" th:href="@{/usuarios(page=${pageNum}, size=${usuarios.size})}" th:text="${pageNum}"></a>
                </li>
            </ul>
        </nav>
  </div>
    
</body>
</html>